main > section.jobs-search {
    margin: 0;
    padding: 0;
    height: auto;
}

main section.job-listings {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    gap: 1rem;
}

.job-cards {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 0.5rem;
}

.job-card {
    display: flex;
    position: relative;
    margin: 5px;
    max-width: 600px;
    min-width: 300px;
    padding: 1rem 2rem;
    .is-hidden {
        display: none;
    }
    &.is-hidden {
        display: none;
    }
    div {
        h3 {
            font-size: 1.15rem;
            width: 70%;
        }
        width: 100%;
        small {
            color: var(--text-muted);
        }
        p {
            color: var(--text-primary);
        }
    }
    button {
        position: absolute;
        background-color: var(--primary-light);
        color: white;
        border: none;
        border-radius: 0.5rem 0 0 0.5rem;
        right: 0;
        top: 15px;
        width: 100px;
        height: 30px;
        transition: box-shadow 0.1s ease-in-out;
        &:hover {
            background-color: var(--primary-hover);
            cursor: pointer;
            box-shadow: 0 0 5px 2px var(--primary-light);
        }
        &.is-applied {
            background-color: rgba(10, 112, 10, 0.973);
            box-shadow: none;
            outline: none;
            outline-offset: 0;
            cursor: not-allowed;
        }
    }
}

/* 
.pagination {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 0.5rem;
    margin-block: 2rem;
}

.pagination a {
    color: var(--text-muted);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.2s;
    &:hover {
        background-color: var(--primary-light);
        color: white;
        border-radius: 0.5rem;
        cursor: pointer;
    }
    &.is-active {
        background-color: var(--primary-light);
        color: white;
        cursor: default;
    }
} */