.search-bar {
    background: var(--input-bg);
    margin-bottom: 0.5rem;
    padding: .25rem .5rem;
    border-radius: 0.5rem;
    height: 44px;
    border: 0.5px solid var(--border);
    &:focus-within {
        outline: var(--primary-light);
        outline-offset: 2px;
        box-shadow: 0 0 5px 2px var(--primary-light);
    }
}

.search-bar input {
    background: transparent;
    border: none;
    width: 100%;
    outline: none;
    color: var(--text-primary);

    &::placeholder {
        color: var(--text-muted);
    }
}

.search-filters {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin: 1rem 0;
}

.search-filters select {
    background: var(--input-bg);
    border: 0.5px solid var(--border);
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: var(--text-primary);
    outline: none;
    &:focus {
        outline: var(--primary-light);
        outline-offset: 2px;
        box-shadow: 0 0 5px 2px var(--primary-light);
    }
}


.pagination {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 0.5rem;
    margin-block: 2rem;
}

.pagination a {
    color: var(--text-muted);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.2s;
    &:hover {
        background-color: var(--primary-light);
        color: white;
        border-radius: 0.5rem;
    }
    &.is-active {
        background-color: var(--primary-light);
        color: white;
        cursor: default;
    }
}




























/* Jobs Search
.jobs-search {
    margin: 0;
    padding: 0;
    height: auto !important;

    h1 {
        font-size: 2.5rem;
        margin-bottom: .25rem;
    }

    p {
        font-size: 1.125rem;
        color: var(--text-muted);
        margin-bottom: 1.5rem;
    }

    .search-bar {
        background: var(--input-bg);
        padding: .25rem .5rem;
    }

    .search-filters {
        display: flex;
        flex-wrap: wrap;
        margin-top: .5rem;
    }

    form {
        width: 100%;
        max-width: 1280px;
    }

    form div {
        background: none;
        box-shadow: none;
        padding: 0;
    }
}

.jobs-listings {
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 1rem;

    article {
        background: none;
        box-shadow: none;
        border-radius: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        margin: 0;

        display: flex;
        align-items: start;
        gap: 1rem;

        small {
            font-size: .875rem;
            opacity: .75;
        }

        p {
            margin-top: 0.5rem
        }

        &:last-child {
            border-bottom: none;
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-block: 2rem;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        text-decoration: none;
        color: var(--text-muted);
        border-radius: 0.375rem;
        transition: all .3s;

        &:hover,
        &:focus {
            background-color: #fff;
        }

        &:active {
            transform: scale(0.90);
        }

        &.is-active {
            background-color: var(--primary-light);
            color: white;
            pointer-events: none;
        }
    }
}

.button-apply-job {
    background: #09f;

    &.is-applied {
        background: #4caf50;
        pointer-events: none;
    }
}  */