.breadcrumb {
  display: flex;
  width: 100%;
  margin: 30px 50px;

  .breadcrumbLink {
    text-decoration: none;
    color: var(--text-muted);
    &:hover {
      color: var(--primary-light);
    }
  }
  span {
    color: var(--text-muted);
    font: optional;
  }
  p {
      color: var(--text-primary);
      font-weight: 500;
  }
}

.jobDetails {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 50px;
  position: relative;
}

.jobDetailsHeader {
  background-color: var(--card-bg);
  border: none;
  padding: 0;
  small {
    color: var(--text-muted);
    font-size: 1rem;
  }
}

.jobDetailsSection {
  background-color: var(--card-bg);
  border: none;
  padding: 0;
  p > ul > li {
      list-style: square;
      margin-left: 20px;
    }
}

.buttonApplyNow {
  background-color: var(--primary-light);
  color: var(--text-primary);
  border: none;
  cursor: pointer;
  width: 100px;
  min-width: 100px;
  height: 40px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 0px #1c669d;
  transition: box-shadow 0.2s ease-in-out, transform 0.1s ease-in-out;
  &:hover {
    background-color: var(--primary-hover);
  }
  &:active {
    box-shadow: none;
    transform: translateY(4px);
  }
  &:focus-within {
    outline: var(--primary-light);
    outline-offset: 2px;
  }
  &.isApplied {
    background-color: var(--green);
    box-shadow: none;
    cursor: not-allowed;
  }
}

.bottomButton {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .jobDetailsHeader {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .buttonApplyNow {
    width: 30%;
  }

  .bottomButton {
    align-self: center;
  }
}