.favoriteButtonDefault {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--text-muted);
    &:hover {
        color: var(--primary-light);
    }
}