.applyNowButton {
    background-color: var(--primary-light);
    color: var(--text-primary);
    border: none;
    cursor: pointer;
    min-width: 80px;
    height: 40px;
    border-radius: 0.5rem;
    box-shadow: 0 4px 0px #1c669d;
    width: 20%;
    transition: box-shadow 0.2s ease-in-out, transform 0.1s ease-in-out;
    &:active {
        box-shadow: none;
        transform: translateY(4px);
    }
    &:focus-within {
        outline: var(--primary-light);
        outline-offset: 2px;
    }
    &.isApplied {
        background-color: var(--green);
        box-shadow: none;
        cursor: not-allowed;
    }
}